<div *ngIf="!r16Fixtures.length">
    <p>
        Tournament not generated! Generate from Country Selection : <a routerLink="/countries" routerLinkActive="active"> here </a>
    </p>
</div>

<div *ngIf="r16Fixtures.length" class="country-list">
    <table style="width:100%; padding: 2%; border: 1px solid">
        <tr style="border: 1px solid">
            <td style="border: 1px solid; width: 25%;"> Round 16 </td>
            <td style="border: 1px solid; width: 25%;"> Quarter Final </td>
            <td style="border: 1px solid; width: 25%;"> Semi Final </td>
            <td style="border: 1px solid; width: 25%;"> Final </td>
        </tr>
        <tr>
            <td style="border: 1px solid; width: 25%;"> 
                <table style="width: 100%;">
                    <tr *ngFor="let match of r16Fixtures; let i = index">
                        <app-match-card [match]="match" [round]=0 (dblclick)="viewMatchDetails(i, 0)"></app-match-card>
                     </tr>
                </table>

            </td>
            <td rowspan="2" style="border: 1px solid; width: 25%;"> 
                <table style="width: 100%;">
                    <tr *ngFor="let match of quarterFinals; let i = index">
                        <app-match-card [match]="match" [round]=1 (dblclick)="viewMatchDetails(i, 1)"></app-match-card>
                    </tr>
                </table>

            </td>
            <td rowspan="4" style="border: 1px solid; width: 25%;"> 
                <table style="width: 100%;">
                    <tr *ngFor="let match of semiFinals; let i = index">
                        <app-match-card [match]="match" [round]=2 (dblclick)="viewMatchDetails(i, 2)"></app-match-card>
                    </tr>
                </table>

            </td>
            <td style="border: 1px solid; width: 25%;"> 
                <table style="width: 100%;">
                    <tr *ngFor="let match of final; let i = index">
                        <app-match-card [match]="match" [round]=3 (dblclick)="viewMatchDetails(-1, 4)"></app-match-card>
                    </tr>
                </table>

            </td>
        </tr>
    </table>
</div>
<button class="btn btn-success" (click)="saveSeason()"> Save Season </button>

