.example-container {
    width: 400px;
    max-width: 100%;
    margin: 10px 25px 25px 0;
    display: inline-block;
    vertical-align: top;
    border: 1px solid;
  }
  
  .example-list {
    border: solid 1px #ccc;
    min-height: 60px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
  }
  
  .example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: pointer;
    background: white;
    font-size: 14px;
  }
  

  .example-box:last-child {
    border: none;
  }
  
  .country-list {
    border: 1px solid;
    margin: 1%;
    max-height: calc(100vh - 0.25*100vh);
    padding-left: 4%;
    overflow-y: scroll;
  }

  .wrap {
    display: flex;
    flex-wrap: wrap;
  }

  .flag {
    width: 15%;
    margin-right:2%;
  }