<mat-card class="example-card">
    <mat-card-content>
        <mat-form-field appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" (dateChange)="saveDate($event)">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        <label> {{match?.home?.name}} </label>&nbsp;&nbsp;&nbsp; 
        <input maxlength="2" style="width: 25px; color: black;" [(ngModel)]="matchSummary.homeGoals" type="text" name="homeScore">
        <br>

        <br>
        <label> {{match?.away?.name}} </label> &nbsp;&nbsp;&nbsp; 
        <input style="width: 25px; color: black;" maxlength="2" type="text" [(ngModel)]="matchSummary.awayGoals" name="awayScore">
        <br><br>
        <button class="btn btn-success" (click)="updateScore()"> Save </button>
    </mat-card-content>
  </mat-card>
