$margin: 5%;
.example-card {
    max-width: 64%;
    margin-bottom: $margin;
    background-color: darkslategray;
    padding: $margin;
    margin-top: $margin;
    margin-left: 15%;
    color: white;
    border: 1px solid;
    border-style: ridge;
    box-shadow: 0 0px 10px 0px rgb(0 0 0 / 10%), 0 8px 10px 4px rgb(0 0 0 / 24%), 0 3px 14px 2px rgb(0 0 0 / 12%);
}

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: white !important;
   }
  
   ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: white !important;
  } 
  
  ::ng-deep.mat-form-field-ripple {
   /*change color of underline when focused*/
   background-color: white !important;;
  }
  
  ::ng-deep .mat-form-field-label {
    /*change color of label*/
    color: white !important;
   }
  
  
  mat-datepicker-toggle {
    color: white !important;
  }