<form class="example-form">
    <select class="form-control" #cricket (change)="viewCountry($event.target)">
        <option value="default"> Select country </option>
        <option *ngFor="let country of options" [value]="country.name">
            {{country.name}}
        </option>
    </select>
</form>

<div class="country-list wrap">
    <mat-card class="example-container" (click)="viewPlayer(player.name)" *ngFor="let player of teamData">
        <mat-card-content>
            <span class="example-list example-box"> <img class="flag" src={{player?.photo}}> {{player.name}}
                ({{player.position}})
            </span>
        </mat-card-content>
      </mat-card>

</div>