.home {
    text-align: center;
    padding: 1%;
}

.title {
    font-size: xx-large;
    font-weight: bolder;
}

.nav-bar {
    color: white;
    margin-top: 1%;
}

nav a {
    padding: 5px 10px;
    text-decoration: none;
    margin-right: 10px;
    margin-top: 10px;
    display: inline-block;
    background-color: #e8e8e8;
    color: #3d3d3d;
    border-radius: 4px;
}

nav a:hover {
  color: white;
  background-color:  #42545C;
}

nav a.active {
  background-color: darkcyan;
  color: white;
}
  

