<div class="home">
  <h1 class="title"> World Cup 2022 </h1>
  <nav class="nav-bar">
    <a class="nav-link"  routerLink="/countries" routerLinkActive="active"> Countries </a>
    <a class="nav-link"  routerLink="/players" routerLinkActive="active"> Players </a>
    <a class="nav-link"  routerLink="/brackets" routerLinkActive="active"> Brackets </a>
    <a class="nav-link"  routerLink="/management" routerLinkActive="active"> Management </a>
  </nav>

  <div>
    <router-outlet></router-outlet>
  </div>
</div>