<div>
    <mat-card class="example-card">
        <mat-card-content>
            <label style="float: left;"> World cup 2022 </label> 
            <label style="float: right;"> Full time </label>
            <br><br>

            <table>
                <tr>
                    <td>
                        <img class="flag" src= {{match?.home?.flag}} ><br>
                        <label>{{match?.home?.name}}</label>
                    </td>
                    <td>
                        <input maxlength="2" style="width: 25px; color: black;"  type="text" name="homeScore">
                    </td>
                    <td>
                        <label> &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp;   </label>
                    </td>
                    <td>
                        <input maxlength="2" style="width: 25px; color: black;"  type="text" name="awayScore">
                    </td>
                    <td>
                        <img class="flag" src= {{match?.away?.flag}} > <br>
                        <label>{{match?.away?.name}}</label>
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        <label> world cup match </label>
                    </td>
                        
                </tr>
            </table>


        </mat-card-content>
    </mat-card>

    <table style="width: 50%; margin-left: 25%; border: 1px solid;">
        <tr>
            <th style="width: 25%;">
                <img class="flag" src={{match?.home?.flag}}>
            </th>
            <th style="text-align: center;">
                TEAM STATS
            </th>
            <th style="width: 25%;">
                <img style="float: right;" class="flag" src={{match?.away?.flag}}>
            </th>
        </tr>
        <!-- <tr>
            <td style="width: 25%;">
                <input maxlength="2" style="width: 25px; color: black;"  type="text">
            </td>
            <td style="text-align: center;">
                Shots
            </td>
            <td style="width: 25%;">
                <input maxlength="2" style="width: 25px; color: black;"  type="text">
            </td>
        </tr> -->
    </table>
    </div>

<!-- <button class="btn btn-success" > Save </button> -->

<!--
(click)="updateScore()" [(ngModel)]="matchSummary.awayGoals" [(ngModel)]="matchSummary.homeGoals" {{country.flag}}>{{country.name}}
-->