<div class="country-list wrap">
    <mat-card class="example-container" (click)="viewCountry(country)" *ngFor="let country of countriesAvailable">
        <mat-card-content>
        <span class="example-list example-box"> <img class="flag" src={{country.flag}}>{{country.name}} (Rank :{{country.rank}}) </span>
    </mat-card-content>
    </mat-card>
</div>
<!-- <button class="btn btn-primary" (click)="generateBrackets()"> Create Tournament </button> -->